$emptyColor: silver;
$snakeColor: darkolivegreen;
$foodColor: darkred;

.container {
  display: flex;
  flex-wrap: wrap;
}

table {
  border-collapse: collapse;
}

.vision {
  text-align: center;
  width: 300px;
}

.vision td {
  border: 1px solid black;
}

td {
  height: 25px;
  width: 25px;
}

.empty {
  background-color: $emptyColor;
  border: 1px solid black;
}

.head {
  background-color: forestgreen;
  border: 1px solid lawngreen;
}

.snake {
  background-color: $snakeColor;
  border: 1px solid lawngreen;
}

.food {
  background-color: $foodColor;
  border: 1px solid red;
}
