$emptyColor: black;
$snakeColor: white;
$foodColor: red;

.container {
  display: flex;
  flex-wrap: wrap;
}

table {
  border-collapse: collapse;
}

.vision {
  text-align: center;
  width: 300px;
}

.vision td {
  border: 1px solid black;
}

td {
  height: 25px;
  width: 25px;
}

.empty {
  background-color: $emptyColor;
}

.snake {
  background-color: $snakeColor;
}

.food {
  background-color: $foodColor;
}
